@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');

h1{
    font-family: 'Josefin Sans', cursive;
    color: black;   
    text-align: center;
    margin-top: 0vh;
    padding-top: 3vh;
    float: left;
    margin-left: 4vh;
    
}

.slogan{
    padding-top: 4vh;
    color: grey;
    font-family: 'Josefin Sans',cursive;
}


hr{
    width: 100%;
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);

}

.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border:1px solid grey;
    border-top: none;
    border-left: none;
    margin-bottom: 0vh;
    padding-bottom: 2vh;
    border-right: none;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);

}


@media screen and (max-width: 384px) {
    h1 {
        margin-left: 2vh;
    }
    .slogan{
        padding-top:0px ;
    }
  }
