@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.state-dropdown{
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  padding:0vh;
  margin:3vh auto; 
  border:5px;
  box-shadow: 0 5px 5px 5px grey;
  font-size: 20px;
}

.Dropdown-control {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  
}

.Dropdown-placeholder {
  color:#4d4d4d;  
}

.india-heading{
  font-family: 'Alex Brush';
  letter-spacing: 6px;
  font-weight: 500;
  text-shadow: 1px 1px 2px grey;
} 

.state-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
} 

.header{

    width: 100%;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}


.line{
  color:grey;
  margin-top: 6vh;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.top-line{
  color:grey;
  margin-top: 3vh;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

